.collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media screen and (max-width: 1024px) {
    	justify-content: center;
    	grid-template-columns: repeat(2, 350px);
    }

    @media screen and (max-width: 768px) {
    	grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 425px) {
    	grid-template-columns: 1fr;
    }
}