.nft-card {
    position: relative;
    padding-bottom: 85px;

    @media screen and (max-width: 1700px) {
    	padding-bottom: calc(50px + 35 * (100vw - 1024px) / (1700 - 1024));
    }

    @media screen and (max-width: 1024px) {
    	padding-bottom: calc(50px + 35 * (100vw - 600px) / (1024 - 600));
    }

    @media screen and (max-width: 600px) {
    	padding-bottom: calc(50px + 35 * (100vw - 320px) / (600 - 320));
    }

    &__image {
    	padding-top: 120%;
    	border-radius: 10px;
    }

    &__inner {
    	position: absolute;
    	right: 40px;
    	bottom: 0;
    	left: 40px;
    	z-index: 2;

    	@media screen and (max-width: 1700px) {
    		right: calc(15px + 25 * (100vw - 1024px) / (1700 - 1024));
    		left: calc(15px + 25 * (100vw - 1024px) / (1700 - 1024));
    	}

    	@media screen and (max-width: 1024px) {
    		right: calc(15px + 25 * (100vw - 600px) / (1024 - 600));
    		left: calc(15px + 25 * (100vw - 600px) / (1024 - 600));
    	}

    	@media screen and (max-width: 600px) {
    		right: calc(15px + 25 * (100vw - 320px) / (600 - 320));
    		left: calc(15px + 25 * (100vw - 320px) / (600 - 320));
    	}
    }

    &__body {
    	display: flex;
    	flex-direction: column;
    	padding: 25px;
    	border-radius: 25px;
    	background-color: rgba(var(--color-12));

    	@media screen and (max-width: 1700px) {
    		padding: calc(15px + 10 * (100vw - 1024px) / (1700 - 1024));
    		border-radius: calc(15px + 10 * (100vw - 1024px) / (1700 - 1024));
    	}

    	@media screen and (max-width: 1024px) {
    		padding: calc(15px + 10 * (100vw - 600px) / (1024 - 600));
    		border-radius: calc(15px + 10 * (100vw - 600px) / (1024 - 600));
    	}

    	@media screen and (max-width: 600px) {
    		padding: calc(15px + 10 * (100vw - 320px) / (600 - 320));
    		border-radius: calc(15px + 10 * (100vw - 320px) / (600 - 320));
    	}
    }

    &__info {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	margin-bottom: 15px;

    	@media screen and (max-width: 1700px) {
    		margin-bottom: calc(10px + 5 * (100vw - 1024px) / (1700 - 1024));
    	}

    	@media screen and (max-width: 1024px) {
    		margin-bottom: calc(10px + 5 * (100vw - 600px) / (1024 - 600));
    	}

    	@media screen and (max-width: 600px) {
    		margin-bottom: calc(10px + 5 * (100vw - 320px) / (600 - 320));
    	}

    	&-title {
    		overflow: hidden;
    		margin-right: 20px;
    		text-overflow: ellipsis;

    		@media screen and (max-width: 1700px) {
    			margin-right: calc(15px + 5 * (100vw - 1024px) / (1700 - 1024));
    		}

    		@media screen and (max-width: 1024px) {
    			margin-right: calc(15px + 5 * (100vw - 600px) / (1024 - 600));
    		}

    		@media screen and (max-width: 600px) {
    			margin-right: calc(15px + 5 * (100vw - 320px) / (600 - 320));
    		}
    	}

    	&-title, &-price {
    		text-transform: uppercase;
    		white-space: nowrap;
    		letter-spacing: 0.03em;
    		line-height: 1.2;
    		font-weight: 800;
    		font-size: 22px;
    		color: rgba(var(--color-01));

    		@media screen and (max-width: 1700px) {
    			font-size: calc(16px + 6 * (100vw - 1024px) / (1700 - 1024));
    		}

    		@media screen and (max-width: 1024px) {
    			font-size: calc(12px + 6 * (100vw - 600px) / (1024 - 600));
    		}

    		@media screen and (max-width: 600px) {
    			font-size: calc(12px + 6 * (100vw - 320px) / (600 - 320));
    		}
    	}
    }

    &__user {
    	display: flex;
    	justify-content: flex-start;
    	align-items: center;
    	margin-bottom: 30px;

    	@media screen and (max-width: 1700px) {
    		margin-bottom: calc(15px + 15 * (100vw - 1024px) / (1700 - 1024));
    	}

    	@media screen and (max-width: 1024px) {
    		margin-bottom: calc(15px + 15 * (100vw - 600px) / (1024 - 600));
    	}

    	@media screen and (max-width: 600px) {
    		margin-bottom: calc(15px + 15 * (100vw - 320px) / (600 - 320));
    	}

    	&-image {
    		margin-right: 10px;
    		height: 36px;
    		width: 36px;
    		border-radius: 50%;
    	}

    	&-name {
    		text-transform: capitalize;
    		letter-spacing: 0.03em;
    		line-height: 1.2;
    		font-weight: 500;
    		font-size: 20px;
    		color: #04040c;

    		@media screen and (max-width: 1700px) {
    			font-size: calc(14px + 6 * (100vw - 1024px) / (1700 - 1024));
    		}

    		@media screen and (max-width: 1024px) {
    			font-size: calc(14px + 6 * (100vw - 600px) / (1024 - 600));
    		}

    		@media screen and (max-width: 600px) {
    			font-size: calc(12px + 6 * (100vw - 320px) / (600 - 320));
    		}
    	}
    }

    &__button {
    	border-radius: 10px;
    	text-align: center;
    }
}