.social-media {
    display: flex;

    &__list {
    	display: flex;
    	align-items: center;
    }

    &__item {
    	&:not(:last-child) {
    		margin-right: 15px;

    		@media screen and (max-width: 1700px) {
    			margin-right: calc(10px + 5 * (100vw - 320px) / (1700 - 320));
    		}
    	}
    }
}