.contacts-link {
    line-height: 1.2;
    font-weight: 400;
    font-size: 19px;
    color: rgba(var(--color-11));
    transition: color 0.2s;

    @media screen and (max-width: 1700px) {
    	font-size: calc(14px + 5 * (100vw - 320px) / (1700 - 320));
    }

    &:focus-visible, &:hover {
    	color: rgba(var(--color-08));
    }
}