@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/montserrat/400/montserrat_400.woff2') format('woff2'),
    url('../assets/fonts/montserrat/400/montserrat_400.woff') format('woff'),
    url('../assets/fonts/montserrat/400/montserrat_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/montserrat/500/montserrat_500.woff2') format('woff2'),
    url('../assets/fonts/montserrat/500/montserrat_500.woff') format('woff'),
    url('../assets/fonts/montserrat/500/montserrat_500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/montserrat/700/montserrat_700.woff2') format('woff2'),
    url('../assets/fonts/montserrat/700/montserrat_700.woff') format('woff'),
    url('../assets/fonts/montserrat/700/montserrat_700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/montserrat/800/montserrat_800.woff2') format('woff2'),
    url('../assets/fonts/montserrat/800/montserrat_800.woff') format('woff'),
    url('../assets/fonts/montserrat/800/montserrat_800.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/montserrat/900/montserrat_900.woff2') format('woff2'),
    url('../assets/fonts/montserrat/900/montserrat_900.woff') format('woff'),
    url('../assets/fonts/montserrat/900/montserrat_900.ttf') format('truetype');
}