.burger-button {
    position: relative;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(var(--color-03), 0.4);
    border-radius: 5px;
    background-color: rgba(var(--color-06), 0.14);
    transition: background-color 0.2s;

    &--active, &:focus-visible, &:hover {
    	background-color: rgba(var(--color-06), 0.32);
    }

    &__line {
    	position: absolute;
    	right: 8px;
    	left: 8px;
    	height: 2px;
    	border-radius: 5px;
    	background-image: var(--gradient_01);
    	transition: transform 0.2s, opacity 0s 0.2s, top 0.2s 0.2s;

    	&:nth-child(1) {
    		top: 10px;

    		.burger-button.burger-button--active & {
    			transform: rotate(45deg);
    		}
    	}

    	&:nth-child(2) {
    		top: calc(50% - 1px);

    		.burger-button.burger-button--active & {
    			opacity: 0;
    		}
    	}

    	&:nth-child(3) {
    		top: calc(100% - 12px);

    		.burger-button.burger-button--active & {
    			transform: rotate(-45deg);
    		}
    	}

    	&:nth-child(n) {
    		.burger-button.burger-button--active & {
    			top: calc(50% - 1px);
    			transition: top 0.2s, opacity 0s 0.2s, transform 0.2s 0.2s;
    		}
    	}
    }
}